.admin-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primary-white);
}

.admin-layout-main {
  flex: 1;
  padding: 2rem 4rem 2rem 4rem;
}

.dark-mode .admin-layout {
  background-color: var(--accent-bg);
}

.dark-mode .admin-layout-main {
  background-color: var(--accent-2-bg);
  color: var(--text-color);
}