.admin-entry-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primary-white);
}

.admin-entry-layout-main {
  flex: 1;
}

.dark-mode .admin-entry-layout {
  background-color: var(--accent-bg);
}

.dark-mode .admin-entry-layout-main {
  background-color: var(--accent-2-bg);
  color: var(--text-color);
}