.heading-h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  position: relative;
  display: inline-block;
  margin: 0px;
}

.heading-underline {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 50%;
  height: 4px;
  background-color: var(--primary-blue);
  content: '';
  border-radius: 10px;
}