.message-component {
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 0;
  font-size: var(--font-size-small);
  line-height: var(--line-height-base);
  font-family: var(--font-family-base);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--primary-light-gray);
  color: var(--text-color);
  border-left: 4px solid var(--primary-blue);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.message-component .title {
  display: block;
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.5rem;
}

/* Tipos */
.message-component.info {
  color: var(--primary-blue);
  border-left-color: var(--primary-blue);
}

.message-component.success {
  color: var(--color-success);
  border-left-color: var(--color-success);
}

.message-component.warning {
  color: var(--color-warning);
  border-left-color: var(--btn-warning-bg);
}

.message-component.error {
  color: var(--color-error);
  border-left-color: var(--color-error);
}

/* Soporte para dark-mode */
.dark-mode .message-component {
  background-color: var(--primary-light-gray);
  color: var(--text-color);
}

.dark-mode .message-component.info {
  background-color: #1e2a3a;
  border-left-color: var(--primary-blue);
}

.dark-mode .message-component.success {
  background-color: #1c2e1c;
  border-left-color: var(--color-success);
}

.dark-mode .message-component.warning {
  background-color: #d6a205;
  border-left-color: var(--btn-warning-bg);
  color: var(--primary-black);
}

.dark-mode .message-component.error {
  background-color: #3a1e1e;
  border-left-color: var(--color-error);
}