.main-navbar {
  background-color: var(--primary-light-gray);
  padding: 1.2rem 2rem;
  display: flex;
  justify-content: center;
  position: relative;
  border-bottom: 5px solid var(--primary-yellow);
}

.navbar-list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-link {
  text-decoration: none;
  color: var(--text-link-color);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-base);
  transition: color 0.3s ease;
  padding-bottom: 0.25rem;
}

.navbar-link:hover,
.navbar-link:focus {
  color: var(--text-link-hover-color);
}

.navbar-link.active {
  border-bottom: 2px solid var(--primary-yellow);
}

.dark-mode .main-navbar {
  background-color: var(--accent-bg);
  border-bottom: 4px solid var(--primary-yellow);
}

.dark-mode .navbar-link {
  color: var(--primary-white);
}

.dark-mode .navbar-link:hover,
.dark-mode .navbar-link:focus {
  color: var(--primary-yellow);
}

.dark-mode .navbar-link.active {
  border-color: var(--primary-yellow);
}

.navbar-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--text-link-color);
  position: absolute;
  top: 1.2rem;
  left: 2rem;
  z-index: 1001;
  padding: 0px;
}

/* MODO OSCURO toggle */
.dark-mode .navbar-toggle {
  color: var(--primary-white);
}

/* Responsive */
@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .main-navbar {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 3.2rem;
    padding-bottom: 1rem;
  }

  .navbar-list {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 1rem 2rem 0rem 0rem;
    display: none;
  }

  .navbar-list.open {
    display: flex;
  }

  .navbar-link {
    font-size: 1rem;
  }
}